@keyframes backgroundAnim {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.label1{
    color: white;
    font-weight: bold;
    background-color: black;
}
.mainLabel {
    color: white;
    font-weight: bold;
    background-image: linear-gradient(to right, #00FFFF, #8a2BE2, #00ff00);
    border: 2px solid white;
    font-family: Roboto;
    animation: neon 6s ease infinite;
}



@keyframes neon {
    from {
        box-shadow: 0 0 5px #00FFFF, 0 0 10px #8A2BE2, 0 0 15px #00FF00;
    }
    to {
        box-shadow: 0 0 15px #00FFFF, 0 0 20px #8A2BE2, 0 0 25px #00FF00;
    }
}