@keyframes backgroundAnim {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.label1{
    background-color: black;
}
.mainLabel {
    color: white;
    font-weight: bold;
    background-image: linear-gradient(to right, #00FFFF, #8a2BE2, #00ff00);
    border: 2px solid white;
    font-family: Roboto;
    animation: backgroundAnim 6s ease infinite;
}
.principalLabel{
    color: white;
    font-weight: bold;
    font-size: medium;
    background-image: linear-gradient(to right, #8B0000, black);
    border: 3px solid black;
    font-family: Roboto;
    animation: backgroundAnim 6s ease infinite;
}
.button {
    background-color: #ff1493; /* Neon Pink */
    color: #00ff00; /* Neon Green */
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    
    outline: none;
    
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button:hover {
    background-color: #00ff00; /* Neon Green */
    color: #ff1493; /* Neon Pink */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


@keyframes neon {
    from {
        box-shadow: 0 0 5px #00FFFF, 0 0 10px #8A2BE2, 0 0 15px #00FF00;
    }
    to {
        box-shadow: 0 0 15px #00FFFF, 0 0 20px #8A2BE2, 0 0 25px #00FF00;
    }
}